* {
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: rgb(255, 255, 255);
}
header {
    background-color: lightcoral;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 7%;
}

.exame {
    padding: 100px 0;
    text-align: justify;
    margin: 50;

}