* {
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: rgb(255, 255, 255);
}
header {
    background-color: lightcoral;
    text-align: left;
}

.cabecalho-imagem{
    width: 7%;
}

.cabecalho {
    background-color: #ffffff;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
